# 不在中国大陆时可删除 registry 这一行
registry=https://registry.npmmirror.com

fund=false
audit=false

# Electron 二进制走 GitHub，国内建议在终端先执行（再 npm install）：
# export ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
